<ion-header>
  <ion-navbar>
    <ion-title class="title">
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()" *ngIf="auth.authenticated">
        <ion-icon name="log-out" item-left></ion-icon>
      </button>
      <button ion-button (click)="login()" *ngIf="!auth.authenticated">
        <ion-icon name="log-in" item-left></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:grey;" padding>
  <p class="navEmail" *ngIf="auth.getEmail()">{{auth.getEmail()}}</p>
  <h1 *ngIf="!showTextMenu" style="color:white;text-align:center;margin-top:0px;">Choose country to report about</h1>
  <ion-list class="headList" *ngIf="!showTextMenu">

    <ion-item class="countryList" *ngFor="let item of items" (click)="itemClicked($event, item)">
      {{ item }}
    </ion-item>

  </ion-list>
  <div class="message" *ngIf="showTextMenu">
    <h1 style="color:white; text-align:center;">Please describe an error for {{countryName}}</h1>
    <ion-textarea [(ngModel)]="textAr" rows="20" class="areaText"></ion-textarea>
    <button class="buttonForSend" ion-button color="primary" (click)="sending()">Send</button>
    <button class="buttonForSend" ion-button color="danger" (click)="cancel()">Cancel</button>
  </div>
</ion-content>
